<div class="pageTitle">
  <h1>GitHub Mobile</h1>
</div>

<div class="toolbar">
  <% if $user.nil? %>
      <div class="rightItem regularButton">
        <a href="<%= url_for :controller => :Settings, :action => :login %>">Login</a>
      </div>
  <% else %>
        <% if !$user[:gravatar_id].nil? %>
        <div class="rightItem">
          <a href="<%= url_for :controller => :Settings, :action => :index %>"><img src="<%= "https://secure.gravatar.com/avatar/"+$user[:gravatar_id]+"?s=30&d=https://github.com/images/gravatars/gravatar-140.png" %>"></a>            
        </div>
        <% end %>        
  <% end %>
</div>

<div class="content">
  <ul>
      <li>
          <a href="<%= url_for :controller => :News, :action => :index %>"><span class="title">News Feed</span><span class="disclosure_indicator"/></a>
      </li>      
      <li>
          <a href="<%= url_for :controller => :Repo, :action => :index %>"><span class="title">Repos</span><span class="disclosure_indicator"/></a>
      </li>
      <li>
          <a href="<%= url_for :controller => :Issues, :action => :index %>"><span class="title">Issues</span><span class="disclosure_indicator"/></a>
      </li> 
      <li>
          <a href="<%= url_for :controller => :Settings, :action => :index %>"><span class="title">Gists</span><span class="disclosure_indicator"/></a>
      </li> 
      <li> 
          <img src="https://secure.gravatar.com/avatar/45afc5b02255db47aecea5504be609cf?s=30&d=https%3A%2F%2Fgithub.com%2Fimages%2Fgravatars%2Fgravatar-140.png">
          <a href="<%= url_for :controller => :Search, :action => :index %>"><span class="title">Search GitHub</span><span class="disclosure_indicator"/></a>
      </li> 
       
  </ul> 
  
  
</div>