<div class="pageTitle">
  <h1>GitHub Login</h1>
</div>

<div class="toolbar">
</div>


<div class="content" >
  <form method="POST" action="<%= url_for :action => :do_login %>">
    <% if @msg %>
        <p style="color: red"><%= @msg %></p>
    <% end %>
    <ul>
      <li>
        <label for="user" class="fieldLabel">User Name</label>
        <input type="text" name="user" <%= placeholder("User") %> />
      </li>

      <li>
        <label for="password" class="fieldLabel">Password</label>
        <input type="password" name="password" <%= placeholder("Password") %> />
      </li>  
      
      <li>
        <label for="token" class="fieldLabel">Token</label>
        <input type="text" name="token" <%= placeholder("Token from GitHub") %> />
      </li>  
      
      
    </ul>
    <input type="submit" class="standardButton" value="Login"/>
  </form>
</div>
