<div class="pageTitle">
  <h1>Edit <%= @user.id %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @user.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @user.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @user.object %>"/>
    <ul>
      
          <li>
            <label for="user[id]" class="fieldLabel">Id</label>
            <input type="text" name="user[id]" value="<%= @user.id %>" <%= placeholder( "Id" ) %> />
          </li>
      
          <li>
            <label for="user[user]" class="fieldLabel">User</label>
            <input type="text" name="user[user]" value="<%= @user.user %>" <%= placeholder( "User" ) %> />
          </li>
      
          <li>
            <label for="user[login]" class="fieldLabel">Login</label>
            <input type="text" name="user[login]" value="<%= @user.login %>" <%= placeholder( "Login" ) %> />
          </li>
      
          <li>
            <label for="user[email]" class="fieldLabel">Email</label>
            <input type="text" name="user[email]" value="<%= @user.email %>" <%= placeholder( "Email" ) %> />
          </li>
      
          <li>
            <label for="user[location]" class="fieldLabel">Location</label>
            <input type="text" name="user[location]" value="<%= @user.location %>" <%= placeholder( "Location" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>