<div id="pageTitle">
		<h1>Edit <%= @user.id%></h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :show, :id => @user.object %>
    <%= link_to "Delete", :action => :delete, :id => @user.object %>
</div>


<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
    	<input type="hidden" name="id" value="<%= @user.object %>"/>
            <table>
        		
                    <tr>
            			<td class="itemLabel">Id: </td>
              			<td class="itemValue"><input type="text" name="user[id]" value="<%= @user.id %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">User: </td>
              			<td class="itemValue"><input type="text" name="user[user]" value="<%= @user.user %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Login: </td>
              			<td class="itemValue"><input type="text" name="user[login]" value="<%= @user.login %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Email: </td>
              			<td class="itemValue"><input type="text" name="user[email]" value="<%= @user.email %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Location: </td>
              			<td class="itemValue"><input type="text" name="user[location]" value="<%= @user.location %>"/></td>
          		    </tr>
        		
            </table>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>
